* {
  box-sizing: border-box;
}

h1{
  text-align: center;
}

h1,h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid black;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

td {
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
.remove{
  background: red;
  color: rgb(98, 31, 31);
  font-size: 1.2rem;
  border-radius: 8px;
}
.remove:hover,#add:hover{
  cursor: pointer;
  opacity: 0.6;
}
.line{
  height: 5px;
  border-radius: 5px;
  width: 20%;
  background: #000;
  margin: 5px auto;
}
.input-field{
  width:70%;
  display: flex;
  flex-direction: column;
  gap:12px;
  margin: 0 auto;
}

input{
  width: 100%;
  font-size: 1.2rem;
}
#add{
  align-self: flex-end;
  background: green;
  color:#fff;
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 1.4rem;
}
h2{
  align-self: center;
}
